.sidebar {
  min-width: 15%;
  background-color: #3f3d3d;
  padding: 1rem;
  color: white;
}
.sidebarTitle {
  font-size: 1.5rem;
  height: 4.3rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}
.sidebarTitle-icon {
  font-size: 2rem;
}
.sidebarEle {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 1rem;
  cursor: pointer;
}

.active {
  background-color: #8ddfa8;
  color: black;
}

.sidebarEle:hover:not(.active) {
  background-color: rgb(200, 205, 200);
  transition: all 0.5s;
}

@media screen and (max-width: 450px) {
  .sidebar {
    display: none;
  }
}
