.tableContainer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 87%;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;
}

.searchContainer {
  float: left;
}

.searchContainer input[type="text"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  width: 30rem;
}
.searchContainer input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}
.searchContainer button {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #ddd;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

.searchContainer .button1 {
  background: #6771dc;
}

.searchContainer .button2 {
  background: #c0c4f8;
}
.button1:hover,.button2:hover,
.button1:active,.button2:active {
  background-color: #33059e;
  border-color: #33059e;
  color:white
}

.pagination {
  display: inline-block;
  background-color: white;
  font-size: 1.2rem;
 
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.pagination a.active {
  background-color: #c0c4f8;
  font-weight: bold;
  border-color: black;
}

.pagination a:hover {
  background-color: #ddd;
  border-radius: 5px;
}
.pagination a:active {
  background-color: #33059e;
  border-color: #33059e;
  color:white
}

.tableBody table {
  border-collapse: collapse;
  width: 70rem;
  height: 65%;
  overflow: scroll;
  table-layout: fixed;
}

.tableBody table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 5px;
  width:7.7rem;
}

.tableBody table thead {
  background-color: #bec1bf;
  color: #333;
}

.tableBody table tbody tr {
  background-color: white;
}

.tableBody table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2.7rem;
}

.tableBody table th{
  height:2.7rem;
}
.para {
  text-align: center;
}



.invalid input{
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus{
  border-color: #ff8800;
  background-color: #fbe8d2;
}
