.header {
  display: flex;
  flex-direction: column;
  height: 5rem;
  background-color: #8ddfa8;
  color: rgb(66, 65, 65);
  align-items: center;
  padding-top: 0.5rem;
}

.headerName {
  font-size: 2rem;
  font-weight: bolder;
}

.headerSubname {
  font-weight: bold;
  color: #5e5f5e;
  font-size: 1.3rem;
}
